.menuWrapper ul {
  min-width: 350px;
  width: 100%;
}

.menuWrapper {
  width: calc(100% - 400px);
}

.header {
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll {
  background: #b7ee60;
  height: 60px;
}

.logo {
  transform: scale(0.8);
}

.wrapper {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}